################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Atividade 02 - Página pessoal/node_modules
/Atividade 02 - Página pessoal/.vscode
/.vs
/Atividade Aula 08/node_modules
/Atividade para entrega Formulários e Tabelas/Atividade 1/.vs
